@model IEnumerable<HomeWorkWeek1.Models.ViewCount>
 

@{
    ViewBag.Title = "Index";
}

<h2>客戶資料清單</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.客戶名稱)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.聯絡人數量)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.銀行帳戶數量)
        </th>

        <th></th>
    </tr>
    @{
        var data = Model.ToArray();
    }

    @for (var i = 0; i < data.Length; i++)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => data[i].客戶名稱)
            </td>
            <td>
                @Html.EditorFor(modelItem => data[i].聯絡人數量)
            </td>
            <td>
                @Html.DisplayFor(modelItem => data[i].銀行帳戶數量)
            </td>

        </tr>
    }

</table>
